<!DOCTYPE html>
<html>
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Merino" />
      <meta name="keywords" content="Merino, Sheep, Feeding" />
      <meta name="author" content="Web Spider" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="merino">
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-md-top">
      <div class="container-fluid">
        <div class="navbar-brand">
          <a href="/"><img src="/static/images/logo.png" class="logo" /></a>
          {% if session.get('loggedin') %}
          <button
            class="btn btn-success"
            id="sidebarToggle"
            onclick="toggleSidebar()"
          >
            <i class="fas fa-tachometer-alt"></i>
          </button>
          {% endif %}
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/home"
                ><i class="fas fa-home"></i>Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/all-workshops">Workshops</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/alltutors">Tutors</a>
            </li>
          </ul>

          <ul class="navbar-nav">
            {% if session.get('loggedin') %}
            <li class="nav-item">
              {% set back_url = { 1: 'member_profile', 2:
              'tutor_profile', 3: 'manager_profile'
              }[session.get('role')] %}
              <a class="nav-link" href="{{ url_for(back_url) }}"
                ><i class="fas fa-user"></i>Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout"
                ><i class="fas fa-sign-out-alt"></i>Logout</a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login"
                ><i class="fas fa-user-circle"></i>Login</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">
                <i class="fas fa-solid fa-user-plus"></i>Sign up</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% if session.get('loggedin') %}
    <div
      id="sidebarMenu"
      class="sidebar d-flex flex-column flex-shrink-0 p-3"
      style="width: 280px; background-color: #111; color: #f3ecec"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
      >
        <span class="fs-4"> Welcome, {{ session.get('username') }}</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          {% set back_urls = { 1: 'member_dashboard', 2: 'tutor_dashboard', 3:
          'manager_dashboard' } %} {% set current_back_urls =
          back_urls[session.get('role')] %}
          <a
            href="{{ url_for(current_back_urls) }}"
            class="nav-link text-white {{ 'active-link' if request.endpoint == current_back_urls else '' }}"
            aria-current="page"
          >
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a
            href="{{ url_for('update_pwd') }}"
            class="nav-link text-white {{ 'active-link' if request.path == '/update/password' else '' }}"
            >Update Password</a
          >

          {% if session.get('role') == 1 %}

          <a 
          href="{{ url_for('book_workshop') }}"  
          class="nav-link text-white">View Workshop</a
          >



          <a
            href="{{ url_for('my_bookings') }}"
            class="nav-link text-white {{ 'active-link' if request.path == '/my_bookings' else '' }}"
            >My Bookings</a
          >

          <a
            href="{{ url_for('view_tutorprofile') }}"
            class="nav-link text-white"
            >View Tutors</a
          >


     
          <a href="/subscription" class="nav-link text-white"


            >Subscription Details</a
          >
          <a href="/news" class="nav-link text-white">View News</a>
          {% elif session.get('role') == 2 %}
          <a href="{{ url_for('tutor_workshop') }}" class="nav-link text-white"
            >Workshop Schedule</a
          >
          <a
            href="{{ url_for('tutor_manage_lesson') }}"
            class="nav-link text-white"
            >Lesson Schedule</a
          >
          <a href="/workshop-attendance" class="nav-link text-white"
            >Workshop Attendance</a
          >
          <a href="/news" class="nav-link text-white">View News</a>
          {% elif session.get('role') == 3 %}
          <!-- Manager-specific links -->
          <a href="/payment-tracking" class="nav-link text-white"
            >Track Payments</a
          >
          <a href="/allmembers" class="nav-link text-white"
          >Manage Members</a
        >
        <a href="/alltutors" class="nav-link text-white"
        >Manage Tutors</a
      >
          <a
            href="{{ url_for('view_workshops') }}"
            class="nav-link text-white {{ 'active-link' if request.path == '/workshops' else '' }}"
            >Workshop Schedule</a
          >
          <a href="{{ url_for('view_lessons') }}" 
          class="nav-link text-white {{ 'active-link' if request.path == '/lesson-schedules' else '' }}"
            >Lesson Schedules</a
          >
          <a href="/attendance-reports" class="nav-link text-white"
            >Attendance Reports</a
          >
          <a href="/financial-reports" class="nav-link text-white"
            >Financial Reports</a
          >
          <a href="/popular-workshops" class="nav-link text-white"
            >Popular Workshops</a
          >
          <a href="/subscription-reminders" class="nav-link text-white"
            >Subscription Reminders</a
          >
          <a href="/create-news" class="nav-link text-white">Manage News</a>
          <a href="/location-management" class="nav-link text-white"
            >Manage Locations</a
          >
          <a href="/workshop-types" class="nav-link text-white"
            >Workshop Types</a
          >
          <a
            href="{{ url_for('list_lesson_types') }}"
            class="nav-link text-white"
            >Lesson Types</a
          >
          <a href="{{ url_for('member_subscription') }}" class="nav-link text-white"
            >Subscription Status</a
          >
          <a href="/subscription-prices" class="nav-link text-white"
            >Subscription Prices</a
          >
          {% endif %}
        </li>

        {% if session.get('role') == 3 %}
        <li class="nav-item">
          <a
            href="#memberSubmenu"
            data-bs-toggle="collapse"
            class="nav-link text-white d-flex justify-content-between align-items-center"
          >
            Nested item
            <i class="fas fa-chevron-down"></i>
          </a>
          <ul class="collapse list-unstyled" id="memberSubmenu">
            <li><a href="#" class="nav-link text-white">sub item</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
    {% endif %} {% block flash_messages %}
    <div
      class="container"
      style="margin-left: {{ '280px' if session.get('loggedin') else '0px' }};"
    >
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>
    {% endblock %}
    <div
      class="container-fluit content"
      id="mainContent"
      style="margin-left: {{ '280px' if session.get('loggedin') else '0px' }};"
    >
      {% block content %}{% endblock %}
    </div>
    {% if not session.get('loggedin') %}
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5 footer-left mb-4">
            <img
              src="/static/images/logo.png"
              class="img-reponsive footerLogo"
            />

            <div class="font-black">Copyright © 2024 Web Spider Group</div>
          </div>
          <div class="col-md-7 footer-right mb-4">
            <div class="">
              <div class="fs-5 mb-4">Contact Us</div>

              <div>Phone: 021 1234567</div>
              <div>Email: merino@xxx.com</div>
              <div class="mt-4 mb-2">Follow Us</div>
              <ul class="d-flex jc-bt">
                <li>
                  <a href=""><i class="fa-lg fab fa-facebook"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa-lg fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa-lg fab fa-youtube"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa-lg fab fa-tiktok"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {% endif %}
    <script>
      function toggleSidebar() {
        const sidebar = document.getElementById("sidebarMenu");
        sidebar.classList.toggle("sidebar-hidden");
        var mainContent = document.getElementById("mainContent");
        if (sidebarMenu.classList.contains("sidebar-hidden")) {
          mainContent.style.marginLeft = "0"; // Sidebar closed
        } else {
          mainContent.style.marginLeft = "280px"; // Sidebar open, adjust this value based on your sidebar's width
        }
      }

      // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

    </script>
  </body>
</html>
