{% extends 'layout.html' %} {% block title %}Register{% endblock %} {% block
content%}
<div class="container">
  <div class="row gx-0 my-4">
    <div class="col-md-5 d-sm-none d-md-block">
      <img
        src="/static/images/register.jpg"
        class="registerImg"
        alt="Register banner"
      />
    </div>
    <div class="col-md-7">
      <form class="registerForm needs-validation" action="/register" method="post" novalidate>
        <a href="/register" class="mb-3 btn btn-dark">Previous</a>
        <h2 class="mb-2">Subscription</h2>

        <div class="mb-3">
          Already have an account?
          <a href="{{url_for('login')}}" class="form-label">Login</a>
        </div>

        <div class="form-group mb-3">
          <select id="subscription" name="subscription" class="form-control" required>
            <option value="" selected disabled>Please select your subscription</option>
            <option value="Annual">Annual</option>
            <option value="Monthly">Monthly</option>
         </select>
        </div>  

        <div class="mb-3">
        <div id="monthly_options" style="display: none;">
          <label for="months">Number of Months:</label><br>
          <input type="number" id="months" name="months" min="1" required><br>
          <div class="invalid-feedback">
            Please enter.
          </div>
        </div>
        </div>

        <div class="form-group mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="discount" name="discount">
            <label class="form-check-label" for="gridCheck">
              Apply for Student or Pensioner discount (Optional)
            </label>
          </div>
        </div>

        (Fee: $<input type="number" id="fee" name="fee" style="display: none;" readonly >)
        <br>
        <br>
        <div class="mb-3">
        <label  class="form-label">Credit Card Information </label>
        <div class="row">
          <div class="col-md-6">
        <label for="card_number">Card Number:</label>
        <input type="text" class="form-control" id="card_number" name="card_number" pattern="[0-9]{16}" maxlength="16" required>
        <div class="invalid-feedback">
          Please provide a valid 16 digit card number.
        </div>
          </div>
          <div class="col-md-6">
        <label for="cardholder_name">Cardholder Name:</label>
        <input type="text" class="form-control" id="cardholder_name" name="cardholder_name" required>
        <div class="invalid-feedback">
          Please provide cardholder name.
        </div>
      </div>
      <div class="col-md-6">
        <label for="expiry_date">Expiry Date:</label>
        <input type="text" class="form-control" id="expiry_date" name="expiry_date" placeholder="MM/YY" pattern="(0[1-9]|1[0-2])\/[0-9]{2}" required>
        <div class="invalid-feedback">
          Please provide expired date in MM/YY format.
        </div>
      </div>
      <div class="col-md-6">
        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" class="form-control" pattern="[0-9]{3}" maxlength="3" required>
        <div class="invalid-feedback">
          Please provide 3 digit CVV.
        </div>

      </div>
        </div>

      <div class="mb-3">{{msg}}</div>
      <div class="d-flex justify-content-end">
      <button type="submit" class="mb-3 btn btn-success">Sign Up</button>
      </div>
   
      </form>
    </div>
  </div>
</div>


<script>


  document.getElementById('subscription').addEventListener('change', function() {
      var subscriptionType = this.value;
      if (subscriptionType === 'Monthly') {
          document.getElementById('monthly_options').style.display = 'block';
      } else {
          document.getElementById('monthly_options').style.display = 'none';
      }

      updateAmount();
  });

        document.getElementById('months').addEventListener('input', function() {
            updateAmount();
        });

        document.getElementById('discount').addEventListener('change', function() {
            updateAmount();
        });

function updateAmount() {
    var subscriptionType = document.getElementById('subscription').value;
    var monthsInput = document.getElementById('months');
    var months = parseInt(monthsInput.value) || 0;
    var discountApplied = document.getElementById('discount').checked;

    var baseAmount;
    if (subscriptionType === 'Annual') {
        baseAmount = 50;
        monthsInput.value = "12";  // Reset months input value
        document.getElementById('monthly_options').style.display = 'none';  // Hide months input field
    } else {
        baseAmount = 5 * months;
        document.getElementById('monthly_options').style.display = 'block';  // Show months input field
    }

    if (discountApplied) {
        baseAmount *= 0.7; // Apply 30% discount
    }

    var amountDisplay = document.getElementById('fee');
    amountDisplay.value = baseAmount.toFixed(2);
    amountDisplay.style.display = 'inline';
}

    </script>

{% endblock %}
