{% extends 'layout.html' %}
{% block content %}

<div class="container mt-4">
  <div class="mb-4">
    <a href="{{ url_for('tutor_manage_lesson') }}" class="btn btn-light btn-sm">
      <i class="fas fa-arrow-left"></i> Back
    </a>
  </div>
  <h2>Edit Lesson</h2>
  <form method="post">
    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input
        type="date"
        class="form-control"
        id="date"
        name="date"
        value="{{ lesson.Date }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="start_time" class="form-label">Start Time</label>
      <input
        type="time"
        class="form-control"
        id="start_time"
        name="start_time"
        value="{{ lesson.StartTime }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="end_time" class="form-label">End Time</label>
      <input
        type="time"
        class="form-control"
        id="end_time"
        name="end_time"
        value="{{ lesson.EndTime }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <select class="form-select" id="location" name="location" required>
        <option value="">Select Location</option>
        {% for location in locations %}
        <option value="{{ location[0] }}" {% if  lesson.Location == location[0] %} selected {% endif %}>
          {{ location[0] }}
        </option>
        {% endfor %}
      </select>
    </div>
    <!-- <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="location"
        name="location"
        value="{{ lesson.Location }}"
        required
      />
    </div> -->
    <div class="mb-3">
      <label for="cost" class="form-label">Cost</label>
      <input
        type="number"
        class="form-control"
        id="cost"
        name="cost"
        value="{{ lesson.Cost }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="is_booked" class="form-label">Availability</label>
      <select class="form-control" id="is_booked" name="is_booked" required>
        <option value="0" {% if lesson.IsBooked == 0 %}selected{% endif %}>Available</option>
        <option value="1" {% if lesson.IsBooked == 1 %}selected{% endif %}>Booked</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Update Lesson</button>
  </form>
</div>

{% endblock %}