{% extends "layout.html" %} {% block content %}
<div class="container mt-4">

  <h2 class="mb-3">Workshop Details</h2>


  <div class="card mt-4">
    <div class="card-header bg-custom-primary text-white">Workshop Details</div>
    <ul class="list-group list-group-flush">
    
      <li class="list-group-item">
        <strong style="padding-right: 20px;">Whole Name:</strong> {{ profile[1] }} {{ profile[2] }} {{ profile[3] }}
      </li>
      <li class="list-group-item">
        <strong style="padding-right: 20px;">Position:</strong> {{ profile[4] }}
      </li>
 
      <li class="list-group-item">
        <strong style="padding-right: 20px;">Phone:</strong> {{ profile[5] }}
      </li>
      <li class="list-group-item">
        <strong style="padding-right: 20px;">Email:</strong>      {{ profile[6] }}
      </li>
      <li class="list-group-item">
         <strong style="padding-right: 20px;">Address:</strong> {{ profile[7] }}
      </li>
      <li class="list-group-item">
        <strong style="padding-right: 20px;">Date of Birth:</strong>{{ profile[8] }}
      </li>
      <li class="list-group-item">
        <strong style="padding-right: 20px;">Merino Breeding Details:</strong> {% if profile[10]%}
                                                    {{ profile[10] }}
                                                    {% endif %}
      </li>
      <li class="list-group-item">
        <strong style="padding-right: 20px;">Profile Image:</strong> <div class="" style="width:300px;">
                                        <img src="/static/images/members/{{profile[9]}}" class="card-img-top"  alt="{{profile[2]}} {{profile[3]}}">
                                         </div>
      </li>
      <li class="list-group-item">
        <a href="{{ url_for('update_info_member') }}" class="btn btn-primary btn-lg custom-link">Update Your Information</a>
      </li>
      <li class="list-group-item">
        <a href="/upload/image/{{profile[0]}}" class="btn btn-primary btn-lg custom-link">Upload A Profile Image</a>
      </li>
    </ul>
  </div>


</div>
{% endblock %}
